@font-face {
  font-family: 'BaltoBook';
  src: url('../fonts/balto/baltoweb-book.eot');
  src: url('../fonts/balto/baltoweb-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookItalic';
  src: url('../fonts/balto/baltoweb-bookitalic.eot');
  src: url('../fonts/balto/baltoweb-bookitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookMedium';
  src: url('../fonts/balto/baltoweb-medium.eot');
  src: url('../fonts/balto/baltoweb-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookBold';
  src: url('../fonts/balto/baltoweb-bold.eot');
  src: url('../fonts/balto/baltoweb-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/balto/baltoweb-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* apply a natural box layout model to all elements, but allowing components to change
(Box Model, http://www.paulirish.com/2012/box-sizing-border-box-ftw/)*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: auto;
   font-family: 'BaltoBook', sans-serif;
   background-color: #D3D3D3;
}

header {
  background-image: url(../images/moederdochter1280x426.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: LightSlateGrey;
  background-size: cover;
  height: 426px;
  width: 100%;
}

.logo {
  margin-left: 50px;
  width: 93px;
  height: 100px;
  z-index: 25;
  position: absolute;
  background-color: #000000;
}

.logo p {
  padding-top: 40px;
  text-align: center;
  font-family: 'BaltoBookBold', sans-serif;
  color: #FF6347;
  font-size: 25px;
}

.search{
 position: relative;
 right: 130px;
 margin: 0px;
 z-index:25; /*zodat button zichtbaar blijft wanneer menu open is.
 Z-index werkt alleen in combi met een 'positioned element'!!!*/
 cursor: pointer;
}

.searchbox{
 position:relative;
 height:50px;
 width:100%;
 float:right;
}

.searchbox-submit, .searchbox-icon {
  float:right;
}
.searchbox-input{
 position:absolute;
 top:0;
 right:0;
 /*styling nodig om default styleing van form-element aan te passen*/
 border:0; /*zorgt ervoor dat border weg is*/
 outline:0; /*haalt blauwe lijn weg rond zoekveld*/
 background:#DCDCDC;
 width:100%;
 height:50px;
 margin:0;
 padding-left: 20px;
 font-size:20px;
 color:#000000;
 overflow: visible; /*zorgt ervoor dat volledig veld wordt weergegeven. Evt later nog aanpassen*/
}

.searchbox-input::-webkit-input-placeholder {
 color: #696969;
}

.searchbox-input:-moz-placeholder {
 color: #696969;
}

.searchbox-input::-moz-placeholder {
 color: #696969;
}

.searchbox-input::-ms-input-placeholder {
 color: #696969;
}

 .searchbox-icon,
 .searchbox-submit{
  width:50px;
  height:50px;
  display:block;
  position:absolute ;
  top:0;
  font-family:'BaltoBookMedium', sans-serif;
  font-size:22px;
  right:0;
  padding:0;
  margin:0;
  border:0;
  outline:0;
  line-height:50px;
  text-align:center;
  cursor:pointer;
  background:#000000;
 }
.searchbox-icon img {
  padding-top: 25%;
}

 .searchbox {
 position:relative;
 min-width:50px;
 width:0%; /*zorgt ervoor dat input field hidden is wanneer zoek niet actief is*/
 height:50px;
 float:right;
 overflow:hidden;
 -webkit-transition: width 0.3s;
 -moz-transition: width 0.3s;
 -ms-transition: width 0.3s;
 -o-transition: width 0.3s;
 transition: width 0.3s;
}

.searchbox-open{ /*niet in html, komt terug in jQuery via addClass, zorgt ervoor dat input field zichtbaar is*/
 width:100%;
}

.menu {
  position: absolute;
  right: 0px; /*right plaats label rechts, left plaats label links*/
  z-index: 25;
  display: block;
  font-family: 'BaltoBookMedium', sans-serif;
  text-decoration: none;
  text-align: left;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #000000;
  width: 130px;
  height: 50px;
  padding: 15px;
  margin: 0px ;
  background-color: #FF6347;
}

.menu-open { /*wijzigt background color van menu in jQuery als toggleClass geactiveerd is*/
  background-color: #FFF5EE;
}

.menu-sidebar {
  padding-top: 100px;
}

.menu-wrap {
background-color: #E9967A;
position: fixed;
top: 0;
right: 0;
height: 100%;
width: 30%; /*aanpassen naar 130*/
margin-right: -30%  ; /*aanpassen naar -130*/
font-size: 1em;
font-weight: 700;
letter-spacing: 1.5px;
color: #ffffff;
overflow: hidden;
transition: .25s;
/*z-index: 10;*/
}

.menu-show { /*heeft betrekking op styling wanneer toggleClass geactiveerd is in jQuery*/
	margin-right: 0;
	box-shadow: 4px 2px 15px 1px #B9ADAD;
}

li {
  margin-top: 16px;
  margin-bottom: 16px;
  list-style: none;
  cursor: pointer;
}

.bold_li {
  font-family: 'BaltoBookMedium', sans-serif;
}

.list_division {
  margin-top: 100px;
}

li a {
  color: #000000;
  text-decoration: none;
}

li a:hover {
  color: #FFF5EE;
}

.toggle-button {
  position: absolute;
  width: 30px;
  height: 40px;
  padding: 4px;
  margin-left: 5px;
  transition: .25s;
  z-index: 25;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}

.toggle-button .menu-bar-top {
  border: 3px solid #000000;
  border-bottom: none;
  top: 1px;
}
.toggle-button .menu-bar-middle {
  height: 3px;
  background-color: #000000;
  margin-top: 3px;
  top: 5px;
}
.toggle-button .menu-bar-bottom {
  border: 3px solid #000000;
  border-top: none;
  top: 15px;
}

/*.button-open heeft betrekking op styling wanneer toggleClass geactiveerd is in jQuery*/
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(5px, 5px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: .5s;
}

.intro {
  width: 75%;
  height: 250px;
  background-color: #F5F5F5;
  margin: -125px auto 0;
  text-align: center;
  line-height: 150%;
  padding-top: 50px;
}

.hr_intro {
  height: 5px;
  color: #FF6347;
  background: #FF6347;
  font-size: 0;
  border: 0;
  width: 120px;
}

.intro h1 {
  color: #00000;
  font-family: 'BaltoBookBold', sans-serif;
}

.cao {
  width: 250px;
  height: 50px;
  margin: -45px auto 0;
  background-color: #FF6347;
  text-align: center;
}

.cao p {
  font-size: 20px;
  text-shadow: 0.5px 0.5px #000000;
  padding: 10px;
}

.cao p a {
text-decoration: none;
color: #ffffff;
}

.cao p a:hover {
  color:  #000000;
  text-decoration: underline;
  cursor: pointer;
}

.question-block {
  width: 75%;  /*geen height gebruik zodat div zich aanpast aan content*/
  background-color: #F5F5F5;
  margin: 0 auto;
  text-align: left;
  line-height: 150%;
  padding-bottom: 10px;
}

.faqs {
  padding-left: 5%;
  padding-top: 20px;
  font-family: 'BaltoBookBold',sans-serif;
  color: #000000;
}


#faqs dt, #faqs dd {
  padding: 0 0 0 50px }

#faqs dt {
  font-size:1.5em;
  color: #9d9d9d;
  cursor: pointer;
  height: 37px;
  line-height: 37px;
  margin: 0 0 15px 25px}

#faqs dd {
  font-size: 1em;
  margin: 0 0 20px 25px;
}

#faqs dt {
  background: url(../images/angle_right.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 5%;
}
#faqs .expanded {
  background: url(../images/angle_down.svg);
  background-repeat: no-repeat;
  background-position: right;
}



.topic {
  padding-left: 5%;
  padding-top: 20px;
  font-family: 'BaltoBookBold',sans-serif;
  color: #000000;
}


.question {
  padding-left: 5%;
  padding-bottom: 0px;
  margin: 0;
  width: 50%;
  height: auto;
}

.question a {
  text-decoration: none;
  color: #000000;
}

.question a:hover {
  text-decoration: underline;
  color: #FF6347;
}

.question-open a {
  margin: 0;
  padding: 0;
}
.question p {
  font-size: 10px;
}

.question-open {
  font-family: 'BaltoBookBold', sans-serif;
  color: #FF6347;
}

.answer-icon {
  width: 20px;
  height: 20px;
  right: 20%;
  position: absolute;
  background-image: url(../images/angle_right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/*Onderstaande wordt zichtbaar via jQuery als op answerbutton wordt geklikt*/
.answer-open {
  width: 20px;
  height: 20px;
  right: 20%;
  position: absolute;
  background-image: url(../images/angle_down.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.answer {
  padding-left: 5%;
  padding-right: 15%;
  border: 1px solid black;
}

footer {
  background-color: black;
  margin-top: 50px;
  padding: 20px;
}

table {
  width: 70%;
  background-color: #000000;
  color:#F5F5F5;
  margin: 0 auto;
  border-collapse: collapse;
}

.showborder {
  border-right: solid 1px #ffffff;
}

td {
    padding-left: 30px;
    padding-right: 0px;
}

td a {
  text-decoration: none;
  color: #ffffff;
}

td a:hover {
  text-decoration: underline;
  color: #FF6347;
  cursor: pointer;
}

.secondrow {
  font-weight: bolder;
}
