body, html{
  height: 100%;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: 'Balto', sans-serif;
   background-color: #ffffff;
}

.container {
  margin:0;
  padding: 0;
  height: 100%;
}

.logo {
  z-index: 1;
  width: 93px;
  height: 100px;
  margin-left: 50px;
  position: absolute;
}

.detail_sidebar {
  width: 25%;
  height: 100%;
  background-color: #20B2AA;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.detail_menu hr {
  height: 5px;
  color: #ffffff;
  background: #ffffff;
  font-size: 0;
  border: 0;
  width: 120px;
  margin-top: 150px;
  margin-left: 50px;
}

.detail_menu h1 {
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 40px;
  font-size: 1.5em;
}

.detail_menu p {
    margin-left: 50px;
    margin-right: 20px;
}

.detail_menu p a {
  color: #ffffff;
  text-decoration: none;
}

.detail_menu p a:hover{
  text-decoration: none;
  color: #FF6347;
  cursor: pointer;
}

.detail_main {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.return_to_overview_questions {
  width: 100px;
  height: 50px;
  background: #FFA07A;
  position: absolute;
  top: 0px;
  right: 157px;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #ffffff;
  width: 150px;
  height: 38px;
  margin-right: 60px;
  padding-top: 11px;
  text-align: center;
  border: solid 1px #FFA07A;
}

.search {
  position: absolute;
  top: 0;
  right: 166px;
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: #DCDCDC;
  background-color: #DCDCDC;
  z-index: 1;
}

.search img {
  right: 160px;
  width: 25px;
  height: 30px;
  background-color: #DCDCDC;
  margin-top: 9px;
  margin-left: 10px;
  color: #000000;
}

.menu {
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: block;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #ffffff;
  width: 100px;
  height: 35px;
  margin-right: 60px;
  padding-top: 10px;
  text-align: center;
  border-style: solid;
  border-color: #2F4F4F;
  background-color: #2F4F4F;
}

.toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: block;
  text-decoration: none;
  font-family: 'BaltoBookMedium' sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #ffffff;
  height: 40px;
  width: 54px;
  text-align: center;
  padding-top: 5px;
  border-style: solid;
  border-color: #2F4F4F;
  background-color: #2F4F4F;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}

.slidemenu {
  transform: translate3d(383px, 0, 0); /*deze waarde zorgt ervoor dat menu 'verdwijnt' als label niet aangevinkt is*/
  position: absolute;
  right: 0; /*right plaats label rechts, left plaats label links*/
  width:  383px;
  height: 100%;
  padding: 0px;
  background-color: #FF6347;
  transition: all .4s;
}

li {
  margin-bottom: 16px;
  list-style: none;
  cursor: pointer;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: #FF6347;
  text-decoration: none;
  cursor: pointer;
}

#slidemenutoggler{
  display: none; /*zodat vinkje niet zichtbaar is*/
}

input[type=checkbox]:checked ~ label {
   transform: translate3d(0, 0, 0);
}

input[type=checkbox]:checked ~ .slidemenu {
   transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ .slidemenu li {
   width: 100%;
}

.detail_main hr {
  height: 5px;
  color: #FF6347;
  background: #FF6347;
  font-size: 0;
  border: 0;
  width: 120px;
  margin-top: 150px;
  margin-left: 10%;
}

.detail_title, .detail_background, .detail_faq, .detail_downloads,
.detail_calculation, .detail_case {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.detail_short_answer {
  margin-left: 5%;
  margin-right: 5%;
  padding: 2.5% 5% 2.5% 5%;
}

.detail_short_answer, .detail_background, .detail_faq, .detail_downloads,
.detail_calculation, .detail_calculation ol, .detail_case, .detail_feedback {
  margin-top: 50px;
}

.detail_short_answer {
  background-color: #DCDCDC;
  text-align: justify;
}

.detail_title h1 {
  color: #20B2AA;
  font-size: 1.5em
}

.detail_title h2 {
  color: #000000;
  font-size: 1.25em;
  line-height: 150%;
}

.detail_short_answer h3, .detail_background h3, .detail_faq h3, .detail_downloads h3
.detail_calculation, .detail_case, .detail_feedback {
  font-size: 1em;
}

.detail_short_answer p, .detail_background p, .detail_calculation, .detail_case {
  line-height: 200%;
}

.detail_faq hr, .detail_downloads hr {
  height: 1px;
  color: #D3D3D3;
  background: #D3D3D3;
  font-size: 0;
  border: 0;
  width: 100%;
  margin-left: 0%;
  margin-top: 10px;
}

.detail_faq p, .detail_downloads p {
  line-height: 150%;
}

.detail_faq p a {
  color: #FF6347;
  text-decoration: none;
}

.detail_faq p a:hover {
  color: #FFA07A;
  text-decoration: underline;
  cursor: pointer;
}

.detail_faq span, .detail_downloads span {
  float: right;
  padding-right: 30px;
}

.detail_downloads p {
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 1.5px;
}

.detail_downloads p a {
  color: #20B2AA;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
}

.detail_downloads p a:hover {
  color: #48D1CC;
  text-decoration: underline;
  cursor: pointer;
}

.detail_calculation ul li {
  list-style: disc;
  list-style-position: outside;
}

.detail_calculation ol li {
  list-style: decimal;
  list-style-position: outside;
}

.detail_feedback {
  width: 100%;
  background-color: #DCDCDC;
  height: 200px;
}

.detail_feedback h3 {
text-align: center;
padding-top: 30px;
}

.detail_feedback_option {
margin-top: 45px;
}

.detail_feedback_yes, .detail_feedback_no {
  color: #000000;
  border: solid 1px #000000;
}

.detail_feedback_yes {
  position: absolute;
  left: 35%;
  width: 10%;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.detail_feedback_no {
  position: absolute;
  right: 35%;
  width: 10%;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.detail_feedback li a:hover {
  color: #FF6347;
  cursor: pointer;
}

.detail_footer {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
}

table {
  width: 70%;
  background-color: #000000;
  color:#F5F5F5;
  margin: 0 auto;
  border-collapse: collapse;
}

.showborder {
  border-right: solid 1px #ffffff;
}

td {
    padding-left: 30px;
    padding-right: 0px;
}

td a {
  text-decoration: none;
  color: #ffffff;
}

td a:hover {
  text-decoration: underline;
  color: #FF6347;
  cursor: pointer;
}

.secondrow {
  font-weight: bolder;
}
