body, html, div {
  height: 100%;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

div {
  font-family: 'Balto', sans-serif;
}

.main, .sidebar {
    float: none;
    vertical-align: top;
}

.container {
    display: table;
}

.main {
  width: 70%;
  background-image: url(moederdochter867x638.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: LightSlateGrey;
  background-size: cover;
  display: table-cell;
}

.logo {
  margin-left: 50px;
  width: 93px;
  height: 100px;
  z-index: 1;
  position: absolute;
}

.search {
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
  margin-right: 166px;
  float:right;
  z-index: 1;
}

.search img {
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
}

.menu {
  position: absolute;
  top: 0px;
  right: 0px; /*right plaats label rechts, left plaats label links*/
  z-index: 1;
  display: block;
  text-decoration: none;
  font-family: 'Balto' sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #ffffff;
  width: 100px;
  height: 35px;
  margin-right: 60px;
  padding-top: 10px;
  text-align: center;
  border-style: solid;
  border-color: #2F4F4F;
  background-color: #2F4F4F;
}


.toggle {
  position: absolute;
  top: 0px;
  right: 0px; /*right plaats label rechts, left plaats label links*/
  z-index: 1;
  display: block;
  text-decoration: none;
  font-family: 'BaltoBookMedium' sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #ffffff;
  height: 40px;
  width: 54px;
  text-align: center;
  padding-top: 5px;
  border-style: solid;
  border-color: #2F4F4F;
  background-color: #2F4F4F;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}


.slidemenu {
  transform: translate3d(383px, 0, 0); /*deze waarde zorgt ervoor dat menu 'verdwijnt' als label niet aangevinkt is*/
  position: absolute;
  right: 0; /*right plaats label rechts, left plaats label links*/
  width:  383px;
  height: 100%;
  padding: 0px;
  background-color: #008080;
  transition: all .4s;
}

li {
  margin-bottom: 16px;
  list-style: none;
  cursor: pointer;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: #FF6347;
}

#slidemenutoggler{
  display: none; /*zodat vinkje niet zichtbaar is*/
}

input[type=checkbox]:checked ~ label {
   transform: translate3d(0, 0, 0);
}

input[type=checkbox]:checked ~ .slidemenu {
   transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ .slidemenu li {
   width: 100%;
}

.welkomsttekst {
  margin-left: 50px;
  padding-top: 250px;
  width: 50%;
  height: 50%;
  text-shadow: 1px 1px #000000;
  color: #ffffff;
}

.welkomsttekst p a:hover {
  color: #20B2AA;
  cursor: pointer;
}

h1 {
  color: #ffffff;
}

.sidebar {
  width: 30%;
  display: table-cell;
  background-color: #778899;
  color: #ffffff;
  position: relative;
  z-index: 0;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
}

p {
  font-size: 15px;
  text-shadow: 1px 1px #000000;
}

p a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}


.intro1 {
  height: 50%;
  background-color: #20B2AA;
  padding: 100px 50px 20px 30px;
  line-height: 120%;
}

.intro1 p a:hover {
  color: #FF6347;
  cursor: pointer;
}


.intro2 {
  background-color: #FF7F50;
  height: 50%;
  padding: 100px 50px 20px 30px;
  line-height: 120%;
}


.intro2 p a:hover {
  color: #20B2AA;
  cursor: pointer;
}
