@font-face {
  font-family: 'BaltoBook';
  src: url('baltoweb-book.eot');
  src: url('baltoweb-book.eot?#iefix') format('embedded-opentype'),
       url('baltoweb-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookItalic';
  src: url('baltoweb-bookitalic.eot');
  src: url('baltoweb-bookitalic.eot?#iefix') format('embedded-opentype'),
       url('baltoweb-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookMedium';
  src: url('baltoweb-medium.eot');
  src: url('baltoweb-medium.eot?#iefix') format('embedded-opentype'),
       url('baltoweb-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaltoBookBold';
  src: url('baltoweb-bold.eot');
  src: url('baltoweb-bold.eot?#iefix') format('embedded-opentype'),
       url('baltoweb-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* apply a natural box layout model to all elements, but allowing components to change
(Box Model, http://www.paulirish.com/2012/box-sizing-border-box-ftw/)*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-family: 'BaltoBook', sans-serif;
}

/*Onderstaande afkomstig van http://www.hongkiat.com/blog/css-equal-height/,
Faux Column Technique, om ervoor te zorgen dat <main> en <aside> gelijke hoogte hebben*/
.container {
  width: 100%;
  height: 100%;
  display: table;
}

.main, .sidebar {
  float: none;
  vertical-align: top;
  height: 100%;
}

.main {
  width: 70%;
  background-image: url(moederdochter867x638.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: LightSlateGrey;
  background-size: cover;
  display: table-cell; /*afkomstig van http://www.hongkiat.com/blog/css-equal-height/,
  Faux Column Technique*/
}

.logo {
  margin-left: 50px;
  width: 93px;
  height: 100px;
  z-index: 1;
  position: absolute;
}

hr {
  height: 4px;
  width: 50%;
  margin-left: 0;
  color: #ffffff;
  background: #ffffff;
  font-size: 0;
  border: 0;
}

.welkomsttekst {
  margin-left: 50px;
  padding-top: 250px;
  width: 50%;
  height: 50%;
  text-shadow: 1px 1px #000000;
  color: #ffffff;
}

.welkomsttekst p a:hover {
  color: #20B2AA;
  cursor: pointer;
}

h1 {
  color: #ffffff;
}

h2 {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}

p {
  font-size: 15px;
  text-shadow: 1px 1px #000000;
}

p a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

.menu {
  position: absolute;
  top: 0px;
  right: 0px; /*right plaats label rechts, left plaats label links*/
  z-index: 1;
  display: block;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #ffffff;
  width: 130px;
  height: 50px;
  padding: 12px;
  margin-right: 0px;
  border-style: solid;
  border-color: #2F4F4F;
  background-color: #2F4F4F;
}

.toggle-button {
  position: absolute;
  font-family: 'BaltoBookMedium', sans-serif;
  width: 30px;
  height: 40px;
  padding: 4px;
  margin-left: 5px;
  transition: .25s;
  z-index: 15;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}

.toggle-button .menu-bar-top {
  border: 3px solid #fff;
  border-bottom: none;
  top: 1px;
}
.toggle-button .menu-bar-middle {
  height: 3px;
  background-color: #fff;
  margin-top: 3px;
  top: 5px;
}
.toggle-button .menu-bar-bottom {
  border: 3px solid #fff;
  border-top: none;
  top: 15px;
}

.button-open .menu-bar-top {
  transform: rotate(45deg) translate(5px, 5px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: .5s;
}

.search {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
  margin-right: 130px;
  float:right;
  position: relative;
  z-index: 1; /*zodat button zichtbaar blijft wanneer menu open is.
  Z-index werkt alleen in combi met een 'positioned element'!!!*/
  cursor: pointer;
}

.search img {
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;


}

.sidebar {
  width: 30%;
  height: 100%; /*hoogte sidebar */
  background-color: #778899;
  color: #ffffff;
  z-index: 0;
  display: table-cell; /*afkomstig van http://www.hongkiat.com/blog/css-equal-height/,
  Faux Column Technique*/
}

.intro1 {
  /*height: 50%;, deze waarde werkt niet*/
  background-color: #20B2AA;
  padding: 100px 50px 20px 30px;
  line-height: 120%;
}

.intro1 p a:hover {
  color: #FF6347;
  cursor: pointer;
}

.intro2 {
  background-color: #FF7F50;
  /*height: 50%;*/
  padding: 100px 50px 20px 30px;
  line-height: 120%;
}

.intro2 p a:hover {
  color: #20B2AA;
  cursor: pointer;
}



.menu-wrap {
border-color: #2F4F4F;
background-color: #2F4F4F;
position: fixed; /*of absolute*/
top: 0;
right: 0;
height: 100%;
width: 30%; /*aanpassen naar 130*/
margin-right: -30%  ; /*aanpassen naar -130*/
font-size: 1em; /*aanpassen naar 20px*/
font-weight: 700;
letter-spacing: 1.5px;
color: #ffffff;
overflow: auto;
transition: .25s;
/*z-index: 10;*/
}

.menu-show {
	margin-right: 0;
	box-shadow: 4px 2px 15px 1px #B9ADAD;
}

li {
  margin-bottom: 16px;
  list-style: none;
  cursor: pointer;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: #FF6347;
}
